:root {
  --bg: #2b1d14;
  --text: #ffffff;
  --accent: #c8a06a;
  --muted: #e0d6cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

/* ===== LAYOUT ===== */
.layout {
  display: flex;
  min-height: 100vh;
}

/* ===== COLUNA ESQUERDA ===== */
.left {
  width: 35%;
  padding: 80px;
  background-color: var(--bg);
  position: flex;
  height: 100vh;
}

.hello {
  font-size: 38px;         /* Aqui aumenta o nome hello*/
  letter-spacing: 2px;
  color: var(--accent);
}

.left h1 {
  font-size: 7.5rem;
  margin: 10px 0;
  color: var(--accent);
}

.left h1 span {
  color: var(--text);
}

.role {
  font-size: 0.95rem;
  color: var(--muted);
  margin-bottom: 30px;
}

.menu a {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  color: var(--text);
}

.menu a:hover {
  color: var(--accent);
}

.social {
  margin-top: 40px;
}

.social a {
  margin-right: 15px;
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
}

/* ===== COLUNA DIREITA ===== */
.right {
  margin-left: 35%;
  padding: 80px;
}

section {
  margin-bottom: 60px;
}

h3 {
  margin-bottom: 15px;
  color: var(--accent);
}

.tags span {
  display: inline-block;
  margin: 6px;
  padding: 8px 14px;
  border: 1px solid var(--accent);
  border-radius: 20px;
}

.card {
  border: 1px solid var(--accent);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.05);
}
